body {
    font-family: Arial;
    background-color: #000000;
    overflow: hidden;
}

h1 {
    color: blue;
}

.rotate {
    -mos-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
}

#yt-frame {

}