body {
    font-family: Arial;
    background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #FFFFFF), color-stop(1, #54EF3C));
}

h1 {
    color: blue;
}

#main {
 position:absolute;
 top : 30%;
}

.myimage {
    width:100px;
    height:100px;
    opacity:0.4;
}

.imagediv {
    position: absolute;   
    left:-150px;
}
